.coinPage-Container {
    display: flex;
    width: 100%;
    height: 100vh;
    align-items: flex-start; 
    justify-content: center;
    margin: 0;
    padding: 0;
    background-color: white;
  }
  
  .coinPage-Info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 90%; /*100*/
    max-width: 500px; /*650*/
    /* height: auto; */
    min-height: 400px;
    background-color: rgb(0, 0, 0, 0.8);
    border-radius: 20px;
    margin: 40px;
    overflow: hidden;
    padding: 20px;
    height: 7rem;

  }
  
  .coinPage-Info h1 {
    color: white;
    font-size: 2rem;
    text-transform: uppercase;
    font-weight: 700;
    color: #3aafa9;
    background-color: transparent;
  }
  
  .coinPage-Icon {
    height: 6rem;
    margin: 20px 0px 0px 0px;
    background-color: transparent;
  }
  
  .coinPage-Data {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: space-around;
    align-items: center;
    margin: 5px 0px 5px 0px;
    background-color: transparent;
    height: 20rem;
  }
  
  .coinPage-Row {
    display: flex;
    flex-direction: row;
    width: 80%;
    align-items: center;
    margin: 5px 0px 5px 0px;
    background-color: transparent;
  }
  
  .coinPage-RowData {
    color: white;
    font-size: 1rem;
    font-weight: 400;
    background-color: transparent;
  }
  
  .coinPage-RowHeader {
    width: 170px;
    color: white;
    font-size: 1rem;
    font-weight: 600;
    background-color: transparent;
  }
  
  .red {
    color: #f00606;
  }
  
  .green {
    color: #11d811;
  }
  
  
  .coinPage-Description {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding: 20px;
    width: 100%;
    max-width: 500px;
    max-height: 750px;
    overflow-y: auto;
   
  }
  .coinPage-Description-inner {
    width: 30rem;                 
    height: 25rem;                
    padding: 20px;               
    word-wrap: break-word;
    overflow-y: auto;
    margin-top: 20px;
  }
  
  .coinPage-Description p {
    color: white;
    font-size: 1rem;
    font-weight: 400;
    text-align: justify;
    margin-top: 0px;
    background-color: transparent;
    line-height: 1.6;
    word-wrap: break-word;
 
  }

  .bck{

    display: flex;
    justify-content: flex-end;
    margin-top: 20px;
    margin-right: 15px;
  }
  .upperMain {
  width: 100%;
  overflow: hidden;  
  display: flex;
  flex-direction: column;
  gap: 1rem;

}

 
  