
.footer {
    background-color: #26272b;
    color: #737373;
    font-size: 0.875rem; 
    /* position: fixed;
    bottom: 0;
    z-index: 99999999999999999; */
    width: 100%;
    height: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: center;
    
    margin-top: auto;
}


.about-heading {
    color: white;
    font-size: 1.1rem; 
    margin-bottom: 5px; 
}


.footer-content {
    max-width: 100%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}


.footer-content p {
    display: inline;
    margin: 0; 
    font-size: 0.6rem;
}


hr.horLine {
    width: 60%;
    margin-bottom: 0.3rem;
    border: 0;
    border-top: 1px solid #737373;
}


.footer-bottom {
    text-align: center; 
    margin-top: 10px;
}

.footer-bottom p {
    margin: 0;
    font-size: 0.85rem;
}










