body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto' !important;
   
}

.bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 2.5rem; /*50px;*/
    background-color: white;
    box-shadow: 0px 4px 10px rgba(0,0,0,0.2);
    padding: 0px 10px;
    /* padding-top: 10px; */
    position: sticky;
    top: 0;
    z-index: 10;
}

.bar-title{
    margin: 0;
    font-size: 1.2rem; 
    font-weight: 600;
    white-space: nowrap;
}

.rightBar {
    display: flex;
    align-items: center;
    gap: 1rem;
}

/* .dropdown {
    position: absolute; 
    top: 60px; 
    right: 20px; 
    background-color: yellowgreen;
    border: 1px solid #ccc;
    list-style: none;
    margin: 0;
    padding: 0;
    width: 150px;
    z-index: 10; 
    border: 2px solid black;
} */

/* .dropdown li {
    padding: 10px;
    cursor: pointer;
}

.dropdown li:hover {
    background-color: #cae7d6;
} */

.w-25{
    width: 6% !important;
}
