.outerProfile{

    display: flex;
    align-items: center;
    justify-content: center;
    margin: 40px;
}

.profileMain{

    border: 4px solid black;
    height: 64vh;
    width: 90%;
    display: flex;
    /* justify-content: center; */
    justify-content: space-around;
    align-items: center;
    background-color: rgb(201, 199, 199);
    
}
.profilePic{
    height: 400px;
    width: 300px;
    border: 10px solid black;
    margin-bottom: 5px;
}

.profileContent{

    /* border: 2px solid green; */
    height: 800px;
    width: 1000px;
    display: flex;
    align-items: center;

}
.editBut{
    
    /* border: 2px solid black; */
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 10px;
    
  }

  .userInfo{

    font-size: 30px;
    line-height: 3;
    list-style: none;    

  }

 .backbtn{

    display: flex;
    justify-content: flex-end;
    margin-top: 20px;
    margin-right: 15px;


  }

  .btn2{
    /* width: 76px; */
  }
 