/* .outerProfile{

    display: flex;
    align-items: center;
    justify-content: center;
    margin: 5px 0px 0px 0px;
    overflow: auto;
}

.profileMain{

    border: 4px solid black;
    height: 64vh;
    width: 90%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgb(201, 199, 199);
    
}
.profilePic{
    height: 400px;
    width: 300px;
    border: 10px solid black;
    margin-bottom: 5px;
}

.profileContent{

    height: 800px;
    width: 1000px;
    display: flex;
    align-items: center;

}
.editBut{
    
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 10px;
    
  }

  .userInfo{

    font-size: 30px;
    line-height: 3;
    list-style: none;    

  }

 .backbtn{

    display: flex;
    justify-content: flex-end;
    margin-top: 20px;
    margin-right: 15px;
  }

  .btn2{
  }
  */
  .outerProfile {
  display: flex;
  justify-content: center;
  /* margin: 20px 0; */
  padding: 10px;
  overflow-y: auto;
}

.profileMain {
  display: flex;
  flex-wrap: wrap; /* makes it responsive on smaller screens */
  justify-content: center;
  align-items: flex-start;
  gap: 40px; /* space between image and content */
  padding: 20px;
  border: 3px solid #000;
  background-color: #c9c7c7;
  border-radius: 10px;
  max-width: 100%;
  width: 70%;
}

.profilePic {
  height: auto;
  width: 300px;
  max-width: 100%;
  border: 5px solid black;
  border-radius: 10px;
  object-fit: cover;
}

.profileContent {
  flex: 1;
  min-width: 30%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  /* border: 2px solid black; */
}

.editBut {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.userInfo {
  font-size: 20px;
  line-height: 2;
  list-style: none;
  padding: 0;
  margin: 0;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.userInfo li span {
  font-weight: bold;
}

.backbtn {
  display: flex;
  justify-content: flex-end;
  margin: 20px 15px 0 0;
}

/* Optional: make buttons consistent size */
.btn2, .backbtn button {
  padding: 8px 16px;
  font-size: 16px;
}
